<li class="pt-1">

    {{burger_name}}
    <button class="change-devoured btn btn-primary ml-2" data-id="{{id}}" data-newdevoured="{{devoured}}">
        {{#if devoured}}Devour it!{{else}}Not eat yet!{{/if}}
    </button>

</li>